ConsoleApplication/Service References/GameServiceReference/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64766/GameService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64766/GameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64766/GameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameService.Enums" />
      <xsd:import schemaLocation="http://localhost:64766/GameService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameService.Models" />
      <xsd:import schemaLocation="http://localhost:64766/GameService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_EnterGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_EnterGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnterGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetGameData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameData" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetGameData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_Play_InputMessage">
    <wsdl:part name="parameters" element="tns:Play" />
  </wsdl:message>
  <wsdl:message name="IGameService_Play_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="EnterGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/EnterGame" message="tns:IGameService_EnterGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/EnterGameResponse" message="tns:IGameService_EnterGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetGameData" message="tns:IGameService_GetGameData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetGameDataResponse" message="tns:IGameService_GetGameData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Play">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/Play" message="tns:IGameService_Play_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/PlayResponse" message="tns:IGameService_Play_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameService" type="tns:IGameService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnterGame">
      <soap:operation soapAction="http://tempuri.org/IGameService/EnterGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameData">
      <soap:operation soapAction="http://tempuri.org/IGameService/GetGameData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Play">
      <soap:operation soapAction="http://tempuri.org/IGameService/Play" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="BasicHttpBinding_IGameService" binding="tns:BasicHttpBinding_IGameService">
      <soap:address location="http://localhost:64766/GameService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>