ConsoleApplication/Service References/GameServiceReference/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64766/GameService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:64766/GameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameService.Enums" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Board" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="LastMovement" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameService.Enums" minOccurs="0" name="Player" type="q2:Player" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GameService.Enums" minOccurs="0" name="State" type="q3:GameState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
</xs:schema>